h1{
	display: none;
}

#gameArea{
/*	display: flex;
	flex-wrap: wrap;*/
	width: 70%;
	margin: 0 auto;
}

.square{
	width: 30%;
	float: left;
	margin: 1.66%;
	font-size: .75em;
	text-align: center;
	font-weight: bold;
}