/*Doing some css resetting, and setting the default font.*/

*{
	font-family: "Open Sans", Lato;
	margin: 0;
	padding: 0;
}

.banner{
	height: 10vh;
	border-bottom: 1px solid black;
}

h1{
	display: none;
}

.color{
	text-align: center;
	height: 40px;
}

.info{
	height: 20px;
	text-align: center;
}

.adjustments{
	display: flex;
	justify-content: space-around;
	height: 5vh;
	border-bottom: 1px solid black;
}
.numBoxes{
	display: flex;
}
.rangeSlider{
	display: flex;
}

/*All of this below styles the slider.*/
input[type=range] {
  width: 100%;
  margin: auto 0;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 8px;
  background: #777777;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  height: 1em;
  width: 1em;
  border-radius: 20%;
  background: #777777;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 8px;
  background: #777777;
  cursor: pointer;
}

.gameInfo{
	display: flex;
	justify-content: space-around;
	height: 5vh;
	border-bottom: 1px solid black;
}

.reset{
	width: 30%;
	height: 100%;
	border: none;
}



#gameArea{
/*	display: flex;
	flex-wrap: wrap;*/
	width: 70%;
	margin: 0 auto;
}

.square{
	width: 30%;
	float: left;
	margin: 1.66%;
	font-size: .75em;
	text-align: center;
	font-weight: bold;
}