/*Doing some css resetting, and setting the default font.*/

*{
	font-family: "Open Sans", Lato;
	margin: 0;
	padding: 0;
	border: none;
}

body{
	background: #1B191F;
	color: white;
}

.banner, .adjustments, .gameInfo{
	background: #0D4A7A;
}

.banner{
	height: 10vh;
	border-bottom: 1px solid black;
}

h1{
	display: none;
}

.color{
	text-align: center;
	height: 40px;
}

.info{
	height: 20px;
	text-align: center;
}

.adjustments{
	display: flex;
	justify-content: space-between;
	height: 5vh;
	border-bottom: 1px solid black;
}
.numBoxes{
	width: 48%;
	display: flex;
	justify-content: space-between;
}

.numBoxes button{
	width: 25%;
}

.boxInfo{
	align-self: center;
}

.rangeSlider{
	width: 45%;
	display: flex;
	justify-content: space-around;
}

.easy{
	width: 20%;
}

.hard{
	width: 20%;
}

/*All of this below styles the slider.*/
input[type=range] {
  width: 40%;
  margin: auto 0;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 8px;
  background: #777777;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  height: 1em;
  width: 1em;
  border-radius: 20%;
  background: #777777;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 8px;
  background: #777777;
  cursor: pointer;
}

.gameInfo{
	display: flex;
	justify-content: space-between;
	height: 5vh;
	border-bottom: 1px solid black;
}

.score{
	align-self: center;
	padding-left: 5%;
	width: 50%;
}

.scoreVal{
}

.reset{
	width: 45%;
	height: 100%;
	border: none;
}

button{
	background: #0D4A7A;
	color: white;
	transition: background .3s, color .3s;
}

/*Invert the colors upon being hovered over.*/
button:hover{
	background: white;
	color: #0D4A7A;
}

#gameArea{
/*	display: flex;
	flex-wrap: wrap;*/
	width: 70%;
	margin: 0 auto;
}

.square{
	width: 30%;
	float: left;
	margin: 1.66%;
	font-size: .75em;
	text-align: center;
	font-weight: bold;
	border-radius: 20%;
	transition: background-color .4s;
	/*Adding outline effect to wrong answer hints*/
    text-shadow:
    -1px -1px 1 #FFF,
    1px -1px 1 #FFF,
    -1px 1px 1 #FFF,
    1px 1px 1 #FFF;  
}